.dynamic-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.selectable-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.service-btn {
  padding: 10px 20px;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.service-btn.selected {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.service-btn:hover {
  background-color: #e0e0e0;
}

.submit-btn {
  padding: 0.75rem 2rem; /* Increased padding for larger size */
  background: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
  font-size: 1.2rem; /* Larger text */
}

.submit-btn:hover {
  background: var(--foreground-color);
}

.submit-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.form-actions {
  display: flex;
  justify-content: center; /* Center the button */
  gap: 1rem;
  margin-top: 1rem;
}