/* Transizioni globali per background-color e color */
body, .App, .section, .home-container, .about-us-container, .portfolio-container, .contact-container, .dashboard-container, .navbar, .navbar-menu li a, .home-intro, .title, .box {
  transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
}

/* Altri stili globali */
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* Previene lo scroll predefinito */
}

.scroll-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* Nasconde lo scroll verticale e le scrollbar */
  position: relative;
}

.App {
  display: flex;
  flex-direction: row;
  width: 300vw; /* 3 sezioni, modificare in base al numero */
  height: 100vh;
}

.section {
  flex: 0 0 100vw; /* Ogni sezione occupa 100% della larghezza della finestra */
  height: 100vh;
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
  z-index: 10; /* Assicura che la navbar stia sopra gli altri contenuti */
}


.title {
  color: var(--primary-text-color);
  margin-bottom: 50px;
}

.box {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--foreground-color);
  color: var(--secondary-text-color);
}