/* Transizioni globali per background-color e color */
body,
.App,
.section,
.home-container,
.about-us-container,
.portfolio-container,
.contact-container,
.dashboard-container,
.navbar,
.navbar-menu li a,
.home-intro,
.title,
.box {
  transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
}

.aboutus-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Se hai contenuto più grande dell'area */
  background-color: #fff;
  z-index: 99999999; /* Spara alto per superare eventuali z-index di GSAP. */
  overflow-x: auto; /* permette lo scroll orizzontale nativo */
  overflow-y: hidden; /* se vuoi evitare scroll verticale */
}

/* La header non scrollabile, che rimane attaccata al top dell'overlay */
.aboutus-overlay-header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100000000; /* Deve stare sopra il contenuto scrollabile */
  background-color: #fff; /* Opzionale, per evitare trasparenze */
}

/* Pulsante di chiusura, posizionato in alto a destra all'interno della header */
.aboutus-overlay-close {
  position: absolute; /* Relativo a .aboutus-section */
  top: 52px;
  right: 72px;
  font-size: 0.8rem;
  background: none;
  border: none;
  z-index: 1000; /* Assicurati che sia sopra il contenuto */
  cursor: pointer !important;
  color: var(--primary-text-color);
  transition: color 0.5s ease-in-out;
  pointer-events: auto !important; /* Assicurati che i clic vengano ricevuti */
  z-index: 100000000000000000000000000000000000000000 !important;
}

.site-frozen .aboutus-overlay {
  pointer-events: auto !important;
}

/* Altri stili globali */
body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  cursor: none !important;
  overscroll-behavior: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.scroll-wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.App {
  display: flex;
  flex-direction: row;
  width: 1200vw; /* Adatta in base al numero di sezioni */
  height: 100vh;
  overflow: hidden; /* Rimuove overflow-x: auto e overflow-y: hidden */
}

.section {
  min-width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  flex-shrink: 0;
}

.navbar {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
  z-index: 10;
}

/* Media query per dispositivi mobili */
@media screen and (max-width: 768px) {
  .App {
    display: block; /* Layout verticale */
    width: 100%;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .section {
    min-width: 100%;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    flex-shrink: 0;
  }

  body,
  html,
  #root {
    cursor: default !important; /* Usa il cursore di default su mobile */
  }

  .navbar {
    padding: 10px 20px;
  }

  .aboutus-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    /* Per Firefox */
    scrollbar-width: none !important;
    /* Per IE, Edge */
    -ms-overflow-style: none !important;
  }

  .aboutus-overlay::-webkit-scrollbar {
    display: none !important;
  }

  .aboutus-overlay-close {
    top: 55px;
    right: 36px;
  }
}
