* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  cursor: none; /* Hide the default cursor */
}

:root {
  --background-color: #fefefa;
  --foreground-color: #003cff;
  --primary-text-color: #0a0a0a;
  --secondary-text-color: #ffffff;
  --toggle-active-color: #000; /* Colore del cerchietto attivo */
  --toggle-inactive-color: #ccc; /* Colore del cerchietto inattivo */
  --circle-size-small: 15px; /* Dimensione cerchietto piccolo */
  --circle-size-large: 25px; /* Dimensione cerchietto grande */
}

[data-theme="dark"] {
  --background-color: #0a0a0a;
  --foreground-color: #567aff;
  --primary-text-color: #f6f6f6;
  --secondary-text-color: #0a0a0a;
  --toggle-bg: #283452;
  --toggle-fg: #00a6ff;
}
