* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  /* transition: background-color 500ms ease-in-out, color 500ms ease-in-out; */
}

/* Nasconde il cursore predefinito su tutto il sito */
body.no-default-cursor *,
body.no-default-cursor *::before,
body.no-default-cursor *::after {
  cursor: none !important;
}

/* Nasconde il cursore predefinito su tutto il sito */
body.no-default-cursor,
body.no-default-cursor *,
body.no-default-cursor *::before,
body.no-default-cursor *::after {
  cursor: none !important;
}

/* Mostra il cursore testo per gli input di testo e select */
body.no-default-cursor input[type="text"],
body.no-default-cursor input[type="email"],
body.no-default-cursor input[type="password"],
body.no-default-cursor textarea {
  cursor: text !important;
}

/* Mostra il cursore pointer per i pulsanti e altri elementi interattivi */
body.no-default-cursor button,
body.no-default-cursor [type="button"],
body.no-default-cursor [type="submit"],
body.no-default-cursor [role="button"],
body.no-default-cursor .btn,
body.no-default-cursor a {
  cursor: none !important;
}

:root {
  --background-color: #fafafa;
  --foreground-color: #ff4003;
  --primary-text-color: #161616;
  --secondary-text-color: #ffffff;
  --toggle-active-color: #000; /* Colore del cerchietto attivo */
  --toggle-inactive-color: #ccc; /* Colore del cerchietto inattivo */
}

[data-theme="dark"] {
  --background-color: #161616;
  --foreground-color: #ff4003;
  --primary-text-color: #f6f6f6;
  --secondary-text-color: #161616;
  --toggle-bg: #283452;
  --toggle-fg: #00a6ff;
}
