/* Posizionamento del toggle */
.toggle-container {
    display: flex;
    align-items: center;
  }
  
  /* Contenitore dei cerchi */
  .toggle-circles {
    display: flex;
    align-items: center;
    cursor: none;
  }
  
  /* Stile base per i cerchi */
  .circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 2px;
    transition: all 0.3s ease;
  }
  
  /* Cerchio bianco */
  .white-circle {
    background-color: #fefefa;
    border: solid .7px #161616 !important;
  }
  
  /* Cerchio nero */
  .black-circle {
    background-color: #161616;
    border: solid .7px #fafafa !important;
  }
  
  /* Cerchio attivo (più grande) */
  .circle.active {
    width: 20px;
    height: 20px;
  }
  
  /* Bordo per il cerchio bianco su sfondo bianco */
  body[data-theme='light'] .white-circle {
    border: 1px solid #161616;
  }
  
  /* Bordo per il cerchio nero su sfondo nero */
  body[data-theme='dark'] .black-circle {
    border: 1px solid #fafafa;
  }