/* Posizionamento del toggle */
.toggle-container {
    display: flex;
    align-items: center;
    /* Aggiungi un'altezza fissa se non è già presente */
    height: 40px; /* Puoi regolare questo valore */
  }
  
  /* Contenitore dei cerchi */
  .toggle-circles {
    display: flex;
    align-items: center;
    cursor: none;
  }
  
  /* Stile base per i cerchi */
  .circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 2px;
    transition: all 0.3s ease;
  }
  
  /* Cerchio bianco */
  .white-circle {
    background-color: white;
    border: solid .7px black;
  }
  
  /* Cerchio nero */
  .black-circle {
    background-color: black;
    border: solid .7px white;
  }
  
  /* Cerchio attivo (più grande) */
  .circle.active {
    width: 20px;
    height: 20px;
  }
  
  /* Bordo per il cerchio bianco su sfondo bianco */
  body[data-theme='light'] .white-circle {
    border: 1px solid black;
  }
  
  /* Bordo per il cerchio nero su sfondo nero */
  body[data-theme='dark'] .black-circle {
    border: 1px solid white;
  }