.dashboard {
  display: flex;
  padding-top: 10vh;
  background: var(--background-color);
  color: var(--primary-text-color);
  transition: all 0.5s ease;
}

.sidebar {
  width: 15vw; /* Cambia da 250px a 10vw */
  background: var(--foreground-color);
  padding: 0px 0 20px 20px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: auto;
  z-index: 999999999;
}

.sidebar-logo {
  margin-bottom: 9rem;
  padding: 0;
  height: auto;
}

.sidebar-logo a {
  display: block;
}

.logo-icon {
  width: 2rem;
  height: 2rem;
  display: block;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  font-weight: 300;
  color: white; /* Testo bianco su foreground */
  border-radius: 20px 0px 0px 20px; /* Angoli arrotondati */
  display: flex; /* Usa flexbox per il layout in colonna */
  flex-direction: column; /* Icona sopra, testo sotto */
  align-items: center; /* Centra orizzontalmente */
  justify-content: center; /* Centra verticalmente */
  height: 68px; /* Imposta un'altezza fissa, ajusta se necessario */
  transition: all 0s;
}

.sidebar li .icon {
  font-size: 1rem; /* Dimensione dell'icona */
  margin-bottom: 10px; /* Spazio tra icona e testo */
}

.sidebar li .text {
  font-size: 0.65rem; /* Testo più piccolo */
}

/* .sidebar li:hover {
  background: var(--background-color);
  border-radius: 20px 0px 0px 20px; 
  color: var(--primary-text-color);
} */

/* .active {
  background: var(--background-color);
} */

/* Stile dell'elemento attivo nella sidebar */
.sidebar ul li.active {
  background: var(--background-color); /* Colore di sfondo dell'elemento attivo */
  color: var(--primary-text-color); /* Colore del testo */
  position: relative; /* Per posizionare i pseudo-elementi */
  z-index: 1; /* Assicura che l'elemento attivo sia sopra gli altri */
  border-radius: 40px 0 0 40px; /* Rimuove l'arrotondamento dall'elemento principale */
  transition: color .5s ease;
}

/* Pseudo-elemento per l'angolo superiore destro */
.sidebar ul li.active::before {
  content: '';
  position: absolute;
  top: -20px; /* Sopra l'elemento */
  right: 0;
  width: 20px; /* Larghezza della parte che sporge */
  height: 20px; /* Altezza della parte sopra */
  background: var(--foreground-color); /* Stesso colore dell'elemento attivo */
  border-bottom-right-radius: 20px; /* Angolo arrotondato in basso a destra */
  z-index: 2;
  transition: all .0s;
}

.sidebar ul li.active .active-before::before {
  content: '';
  position: absolute;
  top: -20px; /* Sopra l'elemento */
  right: 0;
  width: 20px; /* Larghezza della parte che sporge */
  height: 20px; /* Altezza della parte sopra */
  background-color: var(--background-color); /* Stesso colore dell'elemento attivo */
  z-index: 1;
  transition: background-color .5s ease;
}

/* Pseudo-elemento per l'angolo inferiore destro */
.sidebar ul li.active::after {
  content: '';
  position: absolute;
  bottom: -20px; /* Sotto l'elemento */
  right: 0;
  width: 20px; /* Larghezza della parte che sporge */
  height: 20px; /* Altezza della parte sotto */
  background: var(--foreground-color); /* Stesso colore dell'elemento attivo */
  border-top-right-radius: 20px; /* Angolo arrotondato in alto a destra */
  z-index: 2;
  transition: all .0s;
}

.sidebar ul li.active .active-after::after {
  content: '';
  position: absolute;
  bottom: -20px; /* Sopra l'elemento */
  right: 0;
  width: 20px; /* Larghezza della parte che sporge */
  height: 20px; /* Altezza della parte sopra */
  background-color: var(--background-color); /* Stesso colore dell'elemento attivo */
  z-index: 1;
  transition: background-color .5s ease;
}

.sidebar li:hover:not(.active) {
  color: black; /* Colore nero per testo e icone in hover */
  transition: color .5s ease;
}

.sidebar li:hover:not(.active) .icon,
.sidebar li:hover:not(.active) .text {
  color: black; /* Assicura che sia icone che testo siano neri */
  transition: color .5s ease;
}

.sidebar ul li.instant-transition.active {
  transition: background-color 0s, color 0.5s ease;
}

.sidebar-toggle,
.sidebar-close {
  display: none; /* Nascondi entrambi i pulsanti su desktop */
}

.main-area {
  flex: 1;
  padding: 20px;
  margin-left: 20vw;
  margin-right: 5vw;
  overflow-y: auto;
  min-height: 100vh;
  /* transition: all 0.5s ease; */
}

.requests-table {
  width: 100%;
  overflow-x: auto;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 20px 15px;
  text-align: left;
  border-bottom: none;
  font-weight: 300;
}

th {
  font-weight: 600;
  color: var(--primary-text-color);
  text-transform: uppercase;
  font-size: 0.9rem;
}

/* Per le colonne centrate (Allegati e Stato), sovrascriviamo justify-content */
th.centered {
  text-align: center;
}

.centered {
  text-align: center;
}

/* Centra i pulsanti all'interno di celle centrate */
td.centered .feedback-btn {
  display: block; /* Rende il pulsante un elemento block */
  margin: 0 auto; /* Centra orizzontalmente il pulsante */
}

/* Rendi la riga cliccabile */
.request-row {
  cursor: pointer;
}

/* Stili per Allegati */
.attachment-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  font-size: 14px;
}

.attachment-icon.available {
  background: var(--foreground-color);
  color: white;
}

.attachment-icon.unavailable {
  background: var(--error-color);
  color: white;
}

/* Stili per Feedback */
.feedback-btn {
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.feedback-btn.worked {
  background: var(--foreground-color);
  color: white;
}

.feedback-btn.not-worked {
  background: transparent;
  color: var(--primary-text-color);
  border: solid 1px var(--primary-text-color);
  transition: all .5s ease;
}

.feedback-btn:hover {
  border: solid 1px var(--foreground-color);
}

/* Stili per il pulsante Elimina */
.delete-btn {
  border: none;
  background: none; /* Rimuove lo sfondo */
  cursor: pointer;
  padding: 0; /* Rimuove il padding */
  color: var(--error-color); /* Colore dell'icona */
  transition: all 0.5s ease;
}

.delete-btn:hover {
  color: var(--foreground-color); /* Colore al passaggio del mouse */
}

.search-bar {
  margin-bottom: 20px;
}

.search-bar input {
  padding: 0.75rem 0.5rem;
  width: 100%;
  max-width: 300px;
  border: none;
  border-bottom: 1px solid #d1d1d1;
  border-radius: 0;
  font-size: 1rem;
  font-weight: 300;
  color: var(--primary-text-color);
  background: transparent;
  outline: none;
  transition: all 0.5s ease;
}

.search-bar input:hover,
.search-bar input:focus {
  border-bottom-color: var(--foreground-color);
}

.request-details {
  display: flex;
  background: var(--background-color);
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #d1d1d1;
}

.details-sidebar {
  width: 250px;
  padding-right: 20px;
}

.details-sidebar ul {
  list-style: none;
  padding: 0;
}

.details-sidebar li {
  padding: 10px;
  cursor: pointer;
  color: var(--primary-text-color);
  background: transparent;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  margin-bottom: 5px;
  font-weight: 300;
  transition: all 0.5s ease;
}

.details-sidebar li.active {
  background: var(--foreground-color);
  color: white;
  border-color: var(--foreground-color);
}

.details-sidebar li:hover:not(.active) {
  border-color: var(--primary-text-color);
  color: var(--foreground-color);
}

.details-content {
  flex: 1;
  padding: 0 20px;
}

.details-content h2 {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--primary-text-color);
}

.details-content h3 {
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--primary-text-color);
}

.details-content p {
  font-weight: 300;
  color: var(--primary-text-color);
}

.question-answer ul {
  list-style: none;
  padding-left: 15px;
}

.question-answer li.selected {
  font-weight: 600;
  color: var(--foreground-color);
}

.details-sidebar .close-btn {
  margin-bottom: 20px;
  padding: 5px 10px;
  background: var(--error-color);
  color: white;
  border: solid 1px var(--error-color) !important;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 300;
  transition: all 0.5s ease;
}

.details-sidebar .close-btn:hover {
  background: var(--background-color);
  color: var(--primary-text-color);
  border: 1px solid var(--error-color);
}

.dashboard-home {
  display: flex;
  gap: 1.5rem;
}

.stat-card {
  background: var(--background-color);
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  flex: 1;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.stat-card h3 {
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--primary-text-color);
}

.stat-card p {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--foreground-color);
}

.stat-card:hover {
  border: solid 1px var(--foreground-color);
}

.file-list-section {
  padding: 20px;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  background: var(--background-color);
}

.file-list-section h3 {
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--primary-text-color);
}

.file-list-section li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #d1d1d1;
  font-weight: 300;
  color: var(--primary-text-color);
}

.file-list-section a {
  color: var(--foreground-color);
  text-decoration: none;
  margin-right: 10px;
  transition: all 0.5s ease;
}

.file-list-section a:hover {
  text-decoration: underline;
}

.file-list-section button {
  background-color: var(--error-color);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 300;
  transition: all 0.5s ease;
}

.file-list-section button:hover {
  background: var(--background-color);
  color: var(--primary-text-color);
  border: 1px solid var(--error-color);
}

.attachment-icon {
  font-size: 16px; /* Dimensione dell'icona */
  color: var(--foreground-color); /* Colore dell'icona */
}

.status-badge {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.8rem;
  font-weight: 400;
  /* text-transform: uppercase; */
}

.status-badge.completed {
  background-color: #81ffb1;
  color: #166a24;
  min-width: 83px;
}

.status-badge.pending {
  background-color: rgb(230, 230, 230);
  color: grey;
  max-width: 83px;
}

.sidebar-overlay {
  display: none; /* Nascosto di default */
}

.dashboard.light-theme .sidebar ul li.active,
.dashboard.dark-theme .sidebar ul li.active {
  transition: background-color 0.5s ease, color 0.5s ease;
}

/* Tema dark */
.dashboard.dark-theme th,
.dashboard.dark-theme td {
  border-bottom: 1px solid rgba(228, 228, 228, 0.1);
  transition: border-bottom .5s ease;
}

/* Tema light */
.dashboard.light-theme th,
.dashboard.light-theme td {
  border-bottom: 1px solid rgba(228, 228, 228, 0.9);
  transition: border-bottom .5s ease;
}

.header-icon {
  margin-right: 8px; /* Spazio tra icona e testo */
  color: var(--foreground-color); /* Colore dell'icona */
  font-size: 0.9rem; /* Dimensione dell'icona, in linea con il testo */
}

.sort-icons {
  display: inline-block; /* Inline-block per allinearsi con il testo */
  vertical-align: middle; /* Allinea verticalmente con il testo */
  margin-left: 8px;
  line-height: 0.8;
}

/* Stile per ciascuna freccia */
.sort-icons .sort-icon {
  display: block; /* Ogni icona su una nuova linea */
  font-size: 0.6rem;
  color: var(--foreground-color);
  opacity: 0.3;
  transition: opacity 0.3s ease;
  margin: -6px 0; /* Margine negativo per avvicinare le icone */
}

.sort-icons .sort-icon.active {
  opacity: 1;
}

@media (max-width: 768px) {
  .sidebar {
    width: 30vw;
    padding: 0 10px;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    z-index: 999999999;
  }
  .sidebar.open {
    transform: translateX(0);
  }
  .sidebar-toggle {
    display: block;
  }
  .main-area {
    margin-left: 0;
    overflow-y: auto;
  }
  .requests-table {
    overflow-x: auto;
  }
  .dashboard-home {
    flex-direction: column;
  }
  .request-details {
    flex-direction: column;
  }
  .details-sidebar {
    width: 100%;
  }
  .details-sidebar ul {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
  }
  .details-sidebar li {
    padding: 8px;
  }
  .sidebar-overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Opzionale: sfondo semi-trasparente */
    z-index: 999; /* Sotto la sidebar (z-index: 1000) ma sopra il contenuto */
  }
  .sidebar ul li.active {
    border-radius: 40px 40px 40px 40px; /* Rimuove l'arrotondamento dall'elemento principale */
    transition: color .5s ease;
  }
  
  /* Pseudo-elemento per l'angolo superiore destro */
  .sidebar ul li.active::before {
    display: none;
  }
  
  .sidebar ul li.active .active-before::before {
    display: none;
  }
  
  /* Pseudo-elemento per l'angolo inferiore destro */
  .sidebar ul li.active::after {
    display: none;
  }
  
  .sidebar ul li.active .active-after::after {
    display: none;
  }
  .sidebar li .icon {
  margin-bottom: 0;
  }
}