.aboutus-section {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(238, 238, 238);
}
  
/* .stripes-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    display: flex;
    pointer-events: none;
}
  
.stripe {
    flex: 1;
    height: 100%;
    background-color: red;
    transform: scaleX(0);
    margin-right: -2px;
} */
  
.aboutus-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
  
.aboutus-image {
    width: auto;
    height: 100%;
    object-fit: cover;
    margin-left: 0;
}

