/* Cursor black */
.cursor-black.custom-cursor-dot {
  background-color: black;
}

.cursor-black.custom-cursor-circle {
  border-color: black;
}

/* Cursor white */
.cursor-white.custom-cursor-dot {
  background-color: white;
}

.cursor-white.custom-cursor-circle {
  border-color: white;
}

/* Stili comuni */
.custom-cursor-dot {
  position: fixed;
  width: 0.25em;
  height: 0.25em;
  border-radius: 50%;
  pointer-events: none;
  z-index: 999999999999;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s ease, width 0.3s ease, height 0.3s ease;
}

.custom-cursor-circle {
  position: fixed;
  width: 2em;
  height: 2em;
  border: .8px solid black;
  border-radius: 50%;
  pointer-events: none;
  z-index: 999999999999;
  transform: translate(-50%, -50%);
  transition: border-color 0.3s ease, width 0.3s ease, height 0.3s ease, border-radius 0.3s ease, transform 0.3s ease;
}

/* Hover effect for clickable elements */
.custom-cursor-circle.hovered {
  width: 1em;
  height: 1em;
  border-radius: 0%; /* Transforms into a square */
  animation: rotateInfinite 2s linear infinite; /* Keeps rotating */
}

/* Cursor styling for input fields */
.custom-cursor-circle.text-input {
  width: 1em;
  height: 1em;
  border-radius: 50%;
}

/* Nasconde il cursore personalizzato */
.custom-cursor-dot.hidden,
.custom-cursor-circle.hidden {
  display: none !important;
}

/* Quando il dot viene cliccato */
.custom-cursor-dot.clicked {
  width: .8em;
  height: .8em;
  transition: width 0.1s ease, height 0.1s ease;
}

/* Keyframes for continuous rotation */
@keyframes rotateInfinite {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  .custom-cursor-dot,
  .custom-cursor-circle {
    display: none !important;
  }
}