.contacts-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh !important;
  width: 100vw !important;
  background-color: var(--background-color);
  box-sizing: border-box;
  overflow: hidden;
  transition: all .5s ease;
}

@media screen and (max-width: 768px) {
  .contacts-container {
    height: auto; /* Rimuove l’altezza fissa su mobile */
    min-height: 100vh; /* Mantiene un’altezza minima per coerenza */
    align-items: center; /* Centra verticalmente come su desktop */
    padding: 0px 0px 60px 0px;
  }
}
