.login-page {
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    transition: all 0.5s ease;
    margin: 0 auto;
  }
  
  .login-page .dynamic-form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .submit-btn:disabled {
    background-color: var(--foreground-color) !important;
    cursor: not-allowed;
    opacity: 0.7;
  }
  
  .spinner {
    font-size: 1.2rem;
    color: white;
    animation: spin 1s linear infinite;
  }
  
  .login-form h2 {
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
    padding-bottom: 2vh;
    color: var(--primary-text-color);
    transition: all 0.5s ease;
  }
  
  /* Gruppo del campo password */
  .password-group {
    position: relative;
  }
  
  /* Posizionamento dell'icona */
  .password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--primary-text-color);
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  /* Stile dell'icona */
  .eye-icon {
    width: 18px;
    height: 18px;
  }
  
  /* Effetto hover */
  .password-toggle-icon:hover {
    color: var(--foreground-color);
    transform: translateY(-50%) scale(1.1);
  }
  
  /* Messaggio di errore */
  .error-message {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-size: 0.9rem;
    font-weight: 300;
    color: var(--error-color);
    text-align: center;
    transition: color 0.5s ease;
  }
  
  .error-icon {
    font-size: 0.9rem;
    color: var(--error-color);
    transition: color 0.5s ease;
  }
  
  @media (max-width: 768px) {
    .login-page .dynamic-form {
      max-width: 90%;
    }
    .login-form h2 {
      padding-left: 0;
    }
  }
  
  @media (min-width: 769px) {
    .login-page {
      overflow-x: hidden !important;
    }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }