/* Contenitore principale della Navbar */
.navbar-block {
  width: 50vw; /* Occupa il 50% della larghezza del viewport */
  display: flex;
  position: fixed;
  justify-content: space-between; /* Distribuisce lo spazio tra menu e toggle */
  align-items: center; /* Centra verticalmente gli elementi */
  align-self: flex-end; /* Allinea il blocco alla destra all'interno del contenitore flex */
  margin-top: 20px; /* Spazio superiore di 20px */
  z-index: 1000;
}

/* Stile della Navbar */
.navbar {
  display: flex;
  justify-content: space-between; /* Distribuisce lo spazio tra menu e toggle */
  align-items: center; /* Centra verticalmente gli elementi */
  width: 100%; /* Occupa tutta la larghezza del navbar-block */
  background-color: transparent; /* Trasparente come desiderato */
  padding: 0 80px; /* Padding orizzontale */
  z-index: 1000;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Smooth transition */
  color: var(--primary-text-color);
}

/* Stile della Navbar per modalità scura */
.navbar.dark-mode {
    color: white; /* Cambia il colore del testo in modalità scura */
  }

/* Stile del Menu della Navbar */
.navbar-menu {
  display: flex;
  list-style: none; /* Rimuove i bullet points */
  margin: 0;
  padding: 0;
}

/* Stile degli Elementi del Menu */
.navbar-menu li {
  margin-right: 15px; /* Spazio laterale tra i link */
}

/* Stile dei Link della Navbar */
.navbar-menu li a {
  color: inherit;
  text-decoration: none; /* Rimuove la sottolineatura */
  font-size: 0.8rem; /* Dimensione del font */
  transition: color 0.3s ease-in-out; /* Transizione fluida per l'hover */
}

/* Stile dei Link al Passaggio del Mouse */
.navbar-menu li a:hover {
  color: var(--foreground-color); /* Cambia colore al passaggio del mouse */
}
